<%- layout("layouts/boilerplate") %>
<div class="row">
    <div class="col-8 offset-2">
        <br>
        <h3>Edit Listing</h3>
        <br>
        <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" class="needs-validation" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input name="title" id="title" value="<%= listing.title %>" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a title.
                </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea name="description" id="description" class="form-control" required><%= listing.description %></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a description.
                </div>
            </div>
            Original Image: 
            <div class="mb-3">
                <br>
                <img src="<%=listing_prev%>" alt="Preview" class="img-fluid mb-3" style="max-width: 300px;">
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Upload New Image</label>
                <input name="image" id="image"type="file" class="form-control" >
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="row">
                <div class="mb-3 col-md-4">
                    <label for="price" class="form-label">Price</label>
                    <input name="price" id="price" value="<%= listing.price %>" type="number" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid price.
                    </div>
                </div>
                <div class="mb-3 col-md-8">
                    <label for="country" class="form-label">Country</label>
                    <input name="country" id="country" value="<%= listing.country %>" type="text" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a country.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input name="location" id="location" value="<%= listing.location %>" type="text" class="form-control" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please provide a location.
                </div>
            </div>
            
            <br>
            <button type="submit" class="btn btn-danger add-btn">Update</button>
            <br>
            <br>
        </form>
    </div>
</div>
